<section class="about-me">
  <p>
    Hi, I'm Ryan.
  </p>

  <p>
    I've been creating shipping products for over 15 years.  You can read all about it <a href="http://www.linkedin.com/profile/view?id=75689700">on LinkedIn</a>.
  </p>

  <p>
    Lately I use a lot of Ruby on Rails and Behavior Driven Design.  And I'm really into DevOps.  At the moment I'm the CTO at <a href="http://venuedriver.com">Venue Driver</a>, where I use Rails, Sinatra, Cucumber, Rspec, Jasmine BDD, Capybara, Amazon EC2, Chef, MongoDB, Redis, Git, and lots of other fun buzzwords.
  </p>
</section>
