<section class="about-me">
  <h1>Hi, I'm Ryan.</h1>

  <p>
    I have over 15 years of proven experience at creating shipping products from scratch and
    managing teams of software developers.  I’ve been developing web applications since the early days of Perl/CGI scripts in 1994, and I have kept my skills current the whole time.  You can read all about it <a href="http://www.linkedin.com/profile/view?id=75689700">on LinkedIn</a>.  Until recently I was the CTO at <a href="http://venuedriver.com">Venue Driver</a>, until the company was acquired by the
    <a href="http://www.hakkasangroup.com">Hakkasan Group</a>.  Now I'm the Executive Director of Technology there, and I'm responsible for a lot more systems and people.
  </p>

  <p>
    Lately I use a lot of Ruby on Rails and Behavior Driven Design.  And I'm really into DevOps.
    I love to use Rails, Sinatra, Cucumber, Rspec, Jasmine BDD, Capybara, CoffeeScript, Amazon EC2, Chef, MongoDB, Redis, Git, Objective C, iOS, and lots of other fun buzzwords.  The latest
    mountain that I'm climbing is creating an enterprise data warehouse using a lot of Ruby, a
    little bit of Rails, and the Pentaho data integration and analysis tools.
  </p>
</section>

<section class="resume">
  <h1>Résumé</h1>

  <p>
    My [not so] current résumé is available in
    <a href="/resume/Ryan-Porter-resume.doc">.doc</a> and
    <a href="/resume/Ryan-Porter-resume.pdf">.pdf</a> formats.
    I'm not desperate for a job, but please let me know if you've got an interesting project.
  </p>
</section>