<section class="about-me">
  <h1>Hi, I'm Ryan.</h1>

  <p>
    I have 15 years of proven experience at creating shipping products from scratch.  I’ve been developing web applications since the early days of Perl/CGI scripts in 1994, and I have kept my skills current the whole time.  You can read all about it <a href="http://www.linkedin.com/profile/view?id=75689700">on LinkedIn</a>.
  </p>

  <p>
    Lately I use a lot of Ruby on Rails and Behavior Driven Design.  And I'm really into DevOps.  At the moment I'm the CTO at <a href="http://venuedriver.com">Venue Driver</a>, where I use Rails, Sinatra, Cucumber, Rspec, Jasmine BDD, Capybara, CoffeeScript, Amazon EC2, Chef, MongoDB, Redis, Git, Objective C, iOS, and lots of other fun buzzwords.
  </p>
</section>

<section class="resume">
  <h1>Résumé</h1>

  <p>
    My current résumé is available in
    <a href="/resume/Ryan-Porter-resume.doc">.doc</a> and
    <a href="/resume/Ryan-Porter-resume.pdf">.pdf</a> formats.
  </p>
</section>