// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.about-me {
  margin-top: 2em;
}

code {
  font-size: 120%;
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  .line-numbers {
    font-size: 120%;
    line-height: 22px;
  }
}

#blog-archives {
  @media only screen and (min-width: 550px) {
    h2 {
      display: block;
      margin-bottom: .3em;
      font-weight: normal;
      font-size: 14px;
      font-style: italic;
      padding-top: 0.70em;
      position: relative; top: -1px;
      float: none;
      &:first-child { padding-top: .75em; }
    }
  }
}

article img {
  border: none;
}